*, *::before, *::after{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

body{
    padding: 2rem;
    background-color: #ccc;
}

h1{
    font-size: 15px;
}

.main-nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.main-nav li{
    padding: 0 2rem;
    cursor: pointer;
}

.main-nav li:first-child{
    padding-left: 0;
}

nav{
    width: 400px;
}
