*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  padding: 2rem;
  background-color: #ccc;
}

h1 {
  font-size: 15px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.main-nav li {
  padding: 0 2rem;
  cursor: pointer;
}

.main-nav li:first-child {
  padding-left: 0;
}

nav {
  width: 400px;
}

form {
  width: 700px;
}

a {
  color: #000;
}

a:visited {
  color: #000;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.submit-button,
.select-input,
.checkbox-wrapper {
  margin-top: 1rem;
}
